version: '3.7'
services:
  nginx:
    image: {{ IMAGE_NGINX }}
    init: true
    restart: always
    networks:
      - proxy
      - internal
    ports:
      - "{{ PORT }}:8080"
    volumes:
      - {{ PROJECT_NAME }}-storage:/app/storage
      - {{ PROJECT_NAME }}-cache:/app/bootstrap/cache
    environment:
      - WAIT_HOSTS=php-fpm:9000
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{ PROJECT_NAME }}.entrypoints=web"
      - "traefik.http.routers.{{ PROJECT_NAME }}.rule=Host(`{{ DOMAIN_URL }}`)"
      - "traefik.http.services.{{ PROJECT_NAME }}.loadbalancer.server.port=8080"

  php-fpm:
    image: {{ IMAGE_PHPFPM }}
    init: true
    restart: always
    networks:
      - internal
      - mariadb_network
    volumes:
      - /home/webdev/{{ PROJECT_NAME }}/.env:/app/.env
      - {{ PROJECT_NAME }}-storage:/app/storage
      - {{ PROJECT_NAME }}-cache:/app/bootstrap/cache
    environment:
      - WAIT_HOSTS=redis:6379, mariadb:3306, mongodb:27017
    labels:
      ofelia.enabled: "true"
      ofelia.job-exec.horizon.schedule: "@every 60s"
      ofelia.job-exec.horizon.command: "php /app/artisan schedule:run"

  ofelia:
    image: {{ IMAGE_OFELIA }}
    init: true
    restart: always
    networks:
      - internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - WAIT_HOSTS=php-fpm:9000

  redis:
    image: redis:5.0
    init: true
    restart: always
    command: ["redis-server", "--appendonly", "yes", "--requirepass", "{{ REDIS_PASSWORD }}"]
    networks:
      - internal

networks:
  proxy:
    external: true
  mariadb_network:
    external: true
  internal:
    internal: true

volumes:
  {{ PROJECT_NAME }}-storage:
    external: true
  {{ PROJECT_NAME }}-cache:
    external: true
